:root {
  --main_clr: #252525;
  --text_clr: #000000;
  --white_clr: #ffffff;
  --red_clr: #ff0000;
  --green_clr: #30be71;
}
* {
  /* використовується для всіх тегів */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Nunino';
  src: url('/fonts/Nunito-Light.ttf'), url('/fonts/Nunito-Regular.ttf'),
    url('/fonts/');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: var(--main_clr);
}
.wrapper {
  max-width: 414px;
  width: 100%;
  min-height: 100vh;
  background-color: var(--main_clr);
  display: flex;
  justify-content: center;
  border-radius: 30px;
  position: relative;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 365px;
  margin-left: 24px;
  margin-right: 24px;
}

.header {
  margin: 0;
  padding: 0;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 47px 0 0 0;
}
.header-title {
  margin: 0 129px 0 0;
  font-family: 'Nunito';
  font-size: 43px;
  line-height: calc(58 / 43);
  font-weight: 400;
  color: #ffffff;
}
.header-buttons {
  display: flex;
}
.search-button {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #3b3b3b;
  padding: 0;
  margin: 0 21px 0 0;
  border-radius: 15px;
  border: none;
}
.info-button {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #3b3b3b;
  padding: 0;
  margin: 0;
  border-radius: 15px;
  border: none;
}
.main-content {
  padding: 0 auto;
  margin: 0 auto;
}
.main-image {
  margin-top: 177px;
}
.main-sub-text {
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: calc(27 / 20);
  color: #ffffff;
  padding: 0;
  margin: 6px 0 0 0;
}
.footer-content {
}

.footer-button {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  background-color: #252525;
  border: none;
  box-shadow: -5px 0px 10px 0px #00000066;
  box-shadow: 0px 5px 10px 0px #00000066;
  position: absolute;
  right: 35px;
  bottom: 49px;
}
